{% extends 'base.html' %}
{% block content %}



<style>
    .container{
        padding-top: 100px;
        text-align: center;

    }
</style>

<div class="container">
  <body>

    <div class="jumbotron text-xs-center">
    <img class="card-img-top" src="https://www.flaticon.com/svg/static/icons/svg/1145/1145941.svg" height="256" width="256"> 
    <hr>
    <p class="lead"><strong>Received!</strong></p>

    <p class="lead">
        <a href="/categories/" class="btn btn-primary">Back to Civic Connect!</a>
    </p>
  </div>
    
    
  
  </body>
</div>

{% endblock content %}